Q1. Write a function to find moving average in an array over a window:
    Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [1]:
def mov_avg(lst, window_size):
    m_avg = []
    
    for i in range(len(lst) - window_size + 1):
        avg = round(sum(lst[i : i + window_size]) / window_size, 2)
        m_avg.append(avg)
    
    return m_avg

## Checking on a list
a = mov_avg([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150], 3)
print(a)

[5.0, 4.67, 5.67, 6.67, 9.67, 28.67, 49.33, 72.67, 84.0, 93.33, 116.33]

Q2. How-to-count-distance-to-the-previous-zero

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({'X' : [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})  
y = []
x =0    
for i in range(len(df['X'])):
    
    if df['X'][i] == 0:
        y.append(0)
        x = i + 1
    
    if i + 1 > x:
        y.append(i + 1 - x)

df['Y'] = y
print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Q2. Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [4]:
import numpy as np

In [5]:
dt_index = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B')
df = pd.DataFrame(index = dt_index)
s = np.random.randint(1, 100, len(dt_index))
df['Series'] = s
df.head()

            Series
2015-01-01      30
2015-01-02      44
2015-01-05      88
2015-01-06      62
2015-01-07      94

Q3. Find the sum of the values in s for every Wednesday

In [6]:
Days = dt_index.dayofweek
d = { 0 : 'Mon', 1 : 'Tue', 2 : 'Wed', 3 : 'Thu', 4 : 'Fri'}
Days = Days.map(d)
df['Days'] = Days
df[df['Days'] == 'Wed']['Series'].sum()

2814

In [7]:
#OR
df[df.index.weekday == 2]['Series'].sum()

2814

Q4. Average For each calendar month

In [8]:
df.groupby(df.index.month).mean()

       Series
1   46.545455
2   47.000000
3   48.272727
4   45.409091
5   56.428571
6   58.000000
7   42.956522
8   46.380952
9   51.090909
10  60.000000
11  48.952381
12  41.304348

Q5. For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.